## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis = 1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [7]:
application_df['CLASSIFICATION'].value_counts()>1

C1000     True
C2000     True
C1200     True
C3000     True
C2100     True
         ...
C4120    False
C8210    False
C2561    False
C4500    False
C2150    False
Name: CLASSIFICATION, Length: 71, dtype: bool

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df[
    'CLASSIFICATION'
    ].value_counts()[
        application_df['CLASSIFICATION'].value_counts()<=1
        ].index

Index(['C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820',
       'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570',
       'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561',
       'C4500', 'C2150'],
      dtype='object')

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820',
       'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570',
       'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561',
       'C4500', 'C2150']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [10]:
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(application_df)
len(list(X.columns))

88

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = X.drop(columns = "IS_SUCCESSFUL")
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=200, activation="relu", input_dim=87))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 200)               17600

 dense_4 (Dense)             (None, 100)               20100

 dense_5 (Dense)             (None, 1)                 101

=================================================================
Total params: 37,801
Trainable params: 37,801
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75
804/804 [==============================] - 6s 5ms/step - loss: 0.5709 - accuracy: 0.7214
Epoch 2/75
804/804 [==============================] - 6s 7ms/step - loss: 0.5528 - accuracy: 0.7288
Epoch 3/75
804/804 [==============================] - 4s 4ms/step - loss: 0.5485 - accuracy: 0.7311
Epoch 4/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7330
Epoch 5/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7334
Epoch 6/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7334
Epoch 7/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7349
Epoch 8/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7362
Epoch 9/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5409 - accuracy: 0.7360
Epoch 10/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7368
Epoch 11/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7363
Epoch 12/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7362
Epoch 13/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7369
Epoch 14/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7375
Epoch 15/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5384 - accuracy: 0.7381
Epoch 16/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7369
Epoch 17/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7381
Epoch 18/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7368
Epoch 19/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7376
Epoch 20/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7389
Epoch 21/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5360 - accuracy: 0.7390
Epoch 22/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7379
Epoch 23/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7389
Epoch 24/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7397
Epoch 25/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7396
Epoch 26/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7388
Epoch 27/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7390
Epoch 28/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7399
Epoch 29/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7404
Epoch 30/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 31/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 32/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5336 - accuracy: 0.7393
Epoch 33/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5333 - accuracy: 0.7402
Epoch 34/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7400
Epoch 35/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7404
Epoch 36/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7409
Epoch 37/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7404
Epoch 38/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5326 - accuracy: 0.7406
Epoch 39/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7407
Epoch 40/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7410
Epoch 41/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7405
Epoch 42/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7401
Epoch 43/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5314 - accuracy: 0.7417
Epoch 44/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5316 - accuracy: 0.7399
Epoch 45/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5308 - accuracy: 0.7410
Epoch 46/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5312 - accuracy: 0.7419
Epoch 47/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5312 - accuracy: 0.7420
Epoch 48/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5307 - accuracy: 0.7404
Epoch 49/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5309 - accuracy: 0.7412
Epoch 50/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5307 - accuracy: 0.7420
Epoch 51/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7409
Epoch 52/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7420
Epoch 53/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7414
Epoch 54/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5344 - accuracy: 0.7418
Epoch 55/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5305 - accuracy: 0.7414
Epoch 56/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5299 - accuracy: 0.7413
Epoch 57/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5297 - accuracy: 0.7413
Epoch 58/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5296 - accuracy: 0.7414
Epoch 59/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5288 - accuracy: 0.7421
Epoch 60/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5297 - accuracy: 0.7413
Epoch 61/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5292 - accuracy: 0.7425
Epoch 62/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5293 - accuracy: 0.7411
Epoch 63/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5291 - accuracy: 0.7417
Epoch 64/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7417
Epoch 65/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7416
Epoch 66/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5290 - accuracy: 0.7418
Epoch 67/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5284 - accuracy: 0.7416
Epoch 68/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7422
Epoch 69/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7425
Epoch 70/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7423
Epoch 71/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7420
Epoch 72/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5285 - accuracy: 0.7417
Epoch 73/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5293 - accuracy: 0.7428
Epoch 74/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7420
Epoch 75/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5282 - accuracy: 0.7429

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6067 - accuracy: 0.7307 - 810ms/epoch - 3ms/step
Loss: 0.606680691242218, Accuracy: 0.7307288646697998

In [23]:
# Export our model to HDF5 file
nn.save('HDF5 files/AlphabetSoupCharity.h5')